Question 1

In [4]:
import pandas as pd
name = input("What is your name: ")
mat = str(input("What is your matric number: "))
dep = input ("What is your Department: ")
lev = int(input("What level are you in: "))

Dict = {"Student_Name":[name],"Matric._Number":[mat],"Department":[dep],"Level":[lev]}
dt = pd.DataFrame(Dict)
dt.to_csv("PAU_SIMS.csv")
print("Data Saved")
data = pd.read_csv("PAU_SIMS.csv")
data

What is your name: Nwodo Ugochukwu
What is your matric number: 22120613020
What is your Department: Computer Science
What level are you in: 100
Data Saved

   Unnamed: 0     Student_Name  Matric._Number        Department  Level
0           0  Nwodo Ugochukwu     22120613020  Computer Science    100

Question 2

In [3]:
import pandas as pd

Dict = {"Company":["Enron","Anderson","GK jones","Mica","Dune"],
        "Company's_shares":[1000000,1500000,3000000,250000,800000],
        "Company's_liability":[200000,500000,1500000,50000,300000],
        "Percentage_leverages":[((1000000-200000)/1000000)*100,((1500000-500000)/1500000)*100,((3000000-1500000)/3000000)*100,((250000-50000)/250000)*100,((800000-300000)/800000)*100]}
dt = pd.DataFrame(Dict)
dt.to_csv("Company.csv")
print("Data Saved")

Data Saved