In [12]:
F_name = ["Samantha ","Jada     ","Jane     ","Claire   ","Elizabeth","Mary     ","Susan    ","Waje     ","Taibat   ","Lilian   "]
F_age = ["17","16","17","18","16","18","17","20","19","17"]
F_height = ["5.5","6.0","5.4","5.9","5.6","5.5","6.1","6.0","5.7","5.5"]
F_scores = ["80","85","70","60","76","66","87","95","50","49"]

M_name = ["Charles  ","Jude     ","James    ","Kelvin   ","Biodun   ","Wale     ","Kunle    ","Matthew  ","Tom      ","Kayode   "]
M_age = ["19","16","18","17","20","19","16","18","17","19"]
M_height = ["5.7","5.9","5.8","6.1","5.9","5.5","6.1","5.4","5.8","5.7"]
M_scores = ["74","87","75","68","66","78","87","98","54","60"]

for i in range(len(F_name)):
     print(F_name[i],"   ",F_age[i],"   ",F_height[i],"   ",F_scores[i])
     print(M_name[i],"   ",M_age[i],"   ",M_height[i],"   ",M_scores[i])

Samantha      17     5.5     80
Charles       19     5.7     74
Jada          16     6.0     85
Jude          16     5.9     87
Jane          17     5.4     70
James         18     5.8     75
Claire        18     5.9     60
Kelvin        17     6.1     68
Elizabeth     16     5.6     76
Biodun        20     5.9     66
Mary          18     5.5     66
Wale          19     5.5     78
Susan         17     6.1     87
Kunle         16     6.1     87
Waje          20     6.0     95
Matthew       18     5.4     98
Taibat        19     5.7     50
Tom           17     5.8     54
Lilian        17     5.5     49
Kayode        19     5.7     60